.wrapper {
  margin: 40px 20px;
}

.main {
  flex-direction: column;
  width: auto;
  min-width: 300px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu {
  display: flex;
  width: auto;
  justify-content: center;
  flex-wrap: nowrap;
  box-shadow: none;
}

.menu-item {
  height: 50px;
  width: 100%;
  text-align: center;
  padding-right: 0;
  line-height: 50px;
}

.menu-icon {
  display: inline;
  vertical-align: middle;
  fill: currentColor;
}

.menu-text {
  display: none;
}

.content {
  width: auto;
  box-shadow: none;
}

.no-display {
  display: none;
}
