body {
  background-color: #aaa;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.wrapper {
  margin: 40px 20px;
}

.main {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 300px;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu {
  display: flex;
  width: auto;
  justify-content: center;
  flex-wrap: nowrap;
  box-shadow: none;
}

.menu-item {
  height: 50px;
  width: 100%;
  background-color: #ddd;
  text-align: center;
  padding-right: 0;
  font-size: 16px;
  line-height: 50px;
  color: #666;
  transition: color 800ms, background-color 800ms;
  cursor: pointer;
  user-select: none;
}

.menu-icon {
  display: inline;
  vertical-align: middle;
  fill: currentColor;
}

.menu-text {
  display: none;
}

.menu-item:hover {
  color: #000;
}

.active-menu-item {
  background-color: #fff;
  color: #000;
}

.content {
  width: auto;
  background-color: #fff;
  box-shadow: none;
}
