body {
  background-color: #aaa;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.main-wrapper {
  display: flex;
  width: 1000px;
  margin: 60px auto;
  padding: 0 60px;
}

.menu {
  height: 100%;
  width: 120px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu-item {
  height: 40px;
  background-color: #ddd;
  text-align: right;
  padding-right: 16px;
  font-size: 16px;
  line-height: 40px;
  color: #666;
  transition: color 800ms, background-color 800ms;
  cursor: pointer;
  user-select: none;
}

.menu-icon {
  display: none;
}

.menu-item:hover {
  color: #000;
}

.active-menu-item {
  background-color: #fff;
  color: #000;
}

.content {
  min-height: 800px;
  width: 880px;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
